doctype html
html(lang='en')
    head
        block head
            include head
    body
        block navigation
            include nav
        block content
        block footer
            include footer
