doctype html
html(lang='en')
    head
        block head
            include head.html
    body
        block navigation
            include nav.jade
        block content
        block footer
            include footer.html
