mixin csrf_token
    input(type="hidden", name="_csrf_token", value="#{csrf_token()}")

mixin form_new_post
    h2 Create New Post
    form(action="/new_post", method="POST", name="new_post")
        +csrf_token
        textarea(name='content')

mixin form_login
    h2 Login
    .login-message #{login_message}
    form(action="/login?next=#{next}", method="POST")
        +csrf_token
        input(type='text', name='username', id='form-login-username', placeholder='username', autofocus='autofocus', required)
        input(type='password', name='password', id='form-login-password', placeholder='password', required)
        label
            input(id="form-login-remember_me", name="remember_me", type="checkbox", value="1", checked)
            span Remember Me
        input.submit(type="submit", value="Login")

mixin form_signup
    h2 Sign Up
    form(action="/signup", method="POST", name="signup")
        +csrf_token
        //- vertical align isn't important, it just looks really nice
        input(type='text',     name='username', id='form-signup-username', placeholder='username',         required)
        input(type='password', name='password', id='form-signup-password', placeholder='password',         required)
        input(type='password', name='confirm',  id='form-signup-confirm',  placeholder='confirm password', required)
        input(type='email',    name='email',    id='form-signup-email',    placeholder='email address',    required)
        input(type='text',     name='secret_password', placeholder='how many kittens?')
        input.submit(type="submit", value="Sign Up")
