<nav>
    <div class='nav-block nav-left'>
        <a href='/' class='button'>
            <i class='fa fa-home'></i>
            <div class='nav-text'>Home</div>
        </a>
        {% if user.is_authenticated() %}
        <a href='/notes' class='button'>
            <i class='fa fa-exclamation'></i>
            <div class='nav-text'>Notes</div>
        </a>
        {% endif %}
        <!--
        <button class='button'>
            <i class='fa fa-comment'></i>
            <div class='nav-text'>Chat</div>
        </button>
        -->
    </div>
    <div class='nav-block nav-mid'>
        <a href='/'><i class='icon quirell-icon'>Q</i></a>
    </div>
    <div class='nav-block nav-right'>
        <!-- user account functions -->
        {% if user.is_authenticated() %}
            <!-- user actions -->
            <a href='/u/{{ user.username }}' class='button'>
                <i class='fa fa-user'></i>
                <div class='nav-text'>{{ user.username }}</div>
            </a>
            <!-- settings -->
            <a herf='/settings' class='button'>
                <i class='fa fa-cog'></i>
                <div class='nav-text'></div>
            </a>
        {% else %}
            <!-- login -->
            <a href='/login?next={{ flask.request.url }}' class='button'>
                    <i class='fa fa-user'></i>
                    <div class='nav-text'>Login</div>
            </a>
        {% endif %}
    </div>
</nav>
