<nav>
    <div class='nav-block nav-left'>
    <!-- quirell info -->
        <button>
            <i class='fa fa-home'></i>
            <div class='nav-text'>Home</div>
        </button>
        <button>
            <i class='fa fa-exclamation'></i>
            <div class='nav-text'>Notes</div>
        </button>
        <button>
            <i class='fa fa-comment'></i>
            <div class='nav-text'>Chat</div>
        </button>
    </div>
    <div class='nav-block nav-mid'>
        <!-- user activities -->
            <i class='icon quirell-icon'>Q</i>
        <!-- login | signup // user | options -->
    </div>
    <div class='nav-block nav-right'>
        <button>
            <i class='fa fa-user'></i>
            <div class='nav-text'>@lynncyrin</div>
        </button>
        <button>
            <i class='fa fa-cog'></i>
            <div class='nav-text'></div>
        </button>
    </div>
</nav>
