<nav>
    <div class='nav-block nav-left'>
        <a href='/' class='button'>
            <i class='fa fa-home'></i>
            <div class='nav-text'>Home</div>
        </a>
        {% if current_user.is_authenticated() %}
        <a href='/notes' class='button'>
            <i class='fa fa-exclamation'></i>
            <div class='nav-text'>Notes</div>
        </a>
        {% endif %}
        <!--
        <button class='button'>
            <i class='fa fa-comment'></i>
            <div class='nav-text'>Chat</div>
        </button>
        -->
    </div>
    <div class='nav-block nav-mid'>
        <a href='/'><i class='icon quirell-icon'>Q</i></a>
    </div>
    <div class='nav-block nav-right'>
        <!-- user account functions -->
        {% if current_user.is_authenticated() %}
            <!-- user actions -->
            <ul class='nav-menu'>
                <div class='avatar'><img class='img_preview avatar img-small' src="{{ current_user.profile_picture }}" alt='{{ current_user.username}} Avatar'></div>
                <div class='nav-text'>{{ current_user.display_name }}</div>
                <a href='/profile'>
                    <li>Profile</li>
                </a>
                <a href='/profile/edit'>
                    <li>Edit Profile</li>
                </a>
                <a href='/logout'>
                    <li>Logout</li>
                </a>
            </ul>
        {% else %}
            <!-- login -->
            <a href='/login?next={{ flask.request.path }}' class='button'>
                    <i class='fa fa-user'></i>
                    <div class='nav-text'>Login / Signup</div>
            </a>
        {% endif %}
    </div>
</nav>
