{% extends "base.html" %}
{% block content %}
<main>
    {% block user_account_start %}{% endblock %}

    <div class='banner'>
        <div class='middle'>
            <div class='middle banner-left' href='/u/{{ user.username }}'>
                <div class='avatar'><img class='img_preview profile_picture avatar img-large' src="{{ user.profile_picture }}" alt='{{ user.username}} Avatar'></div>
                <div>
                    <span class='display-name'>{% block user_display_name %}{{ user.display_name }}{% endblock %}</span>
                    <span class='pronouns subtext'>({% block user_pronouns %}{{ user.pronouns }}{% endblock %})</span>
                    <span class='username subtext'>{{ user.username }}</span>
                </div>
            </div>
            <div class='banner-right'>
                {% block user_description %}{{ user.description }}{% endblock %}
            </div>
        </div>
    </div>

    {% block user_profile_picture %}{% endblock %}

    {% block user_account_end %}
        {% if is_current(user) %}
            <a href='/profile/edit'><button>Edit Profile</button></a>
        {% endif %}
    {% endblock %}

    {% block timeline %}
    <article class='profile-timeline'>
        {% include 'timeline.html' %}
    </article>
    {% endblock %}

</main>
{% endblock %}
