{% extends "profile.html" %}

{% block user_account_start %}
    <form method="POST" action="/profile/edit?next=/profile">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
{% endblock %}

{% block user_display_name %}
    <input type="text" name="display_name" class="display_name" value="{{ current_user.display_name }}" placeholder="">
{% endblock %}

{% block user_pronouns %}
    <input type="text" name="pronouns" class="pronouns" value="{{ current_user.pronouns }}" placeholder="she / they / ze / etc...">
{% endblock %}

{% block user_description %}
    <input type="text" name="description" class="description" value="{{ current_user.description }}" placeholder="Some words about yourself">
{% endblock %}

{% block user_profile_picture %}
    <article class='post'>
        <div id="progress-holder" class="progress-holder">
            <div class="progress-bar progress-bar-success"></div>
        </div>
        <div id="files-holder" class="files-holder"></div>
        <input id="profile_picture_upload_input" type="file" name="upload_input" class="img_upload profile_picture" data-cloudinary-field="upload_reference" data-form-data='{{ profile_picture_form_data() }}'/>
        <input type="hidden" name="upload_reference">
        <p class="upload_status">Please select a file</p>
    </article>
{% endblock %}

{% block user_account_end %}
    <input type="submit" value="Update profile" />
    </form>
{% endblock %}

{% block timeline %}{# don't need a timeline on the edit page #}{% endblock %}
