{% extends "base.html" %}
{% block content %}
<main>
    <div class='banner'>
        <div class='middle'>
            <div class='middle banner-left' href='/u/{{ user.username }}'>
                <div class='avatar'><img class='avatar img-large' src="{{ user.profile_picture }}" alt='{{ user.username}} Avatar'></div>
                <div>
                    <span class='display-name'>{{ user.display_name }}</span>
                    <span class='pronouns subtext'>({{ user.pronouns }})</span>
                    <span class='username subtext'>{{ user.username }}</span>
                </div>
            </div>
            <div class='banner-right'>
                {% block user_description %}{{ user.description }}{% endblock %}
            </div>
        </div>
    </div>

    {% if is_current(user) %}
        <article class='post'>
            <input type="file" class="img_upload profile_picture"/>
            <p class="upload_status">Please select a file</p>
            <img class="img_preview profile_picture" src="{{ current_user.profile_picture }}"/>

            <form method="POST" action="/change_profile_picture?next={{ flask.request.url }}">
                <input type="hidden" class="avatar_url" name="avatar_url" value=" {{ current_user.profile_picture }}" />
                <input type="submit" value="Update profile" />
            </form>
        </article>
    {% endif %}

    <article class='profile-timeline'>
        {% include 'timeline.html' %}
    </article>

</main>
{% endblock %}
