// body

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
}


h1, h2, h3, h4, h5, p {
    padding: 5px 10px;
    line-height: 1.5em;
}

h1, h2 {
    text-align: center;
}

// nav

// sidebars

// main
