//

html, body {
    background-color: $color_primary;
    font-family: $font_body;
    color: $filler_darkest;
    font-size: 16px;
}

h1, h2, h3, h4, h5, p {
    color: $filler_darkest;
    font-family: $font_body;
}

main a, aside a {
    color: $color_accent;
}

// nav

nav {
    color: $color_primary;
    background-color: $filler_light;
    //
    border: none;
    box-shadow: 0 0 10px $filler_darkest;
    font-size: 18px;
    font-family: $font_stylized;
    font-weight: bold;
    list-style: none;
}

nav .navbar-nav>li>a {
    transition-property: color, background-color;
    background-color: inherit;
    color: $filler_darkest;
    list-style-type: none;
}

nav button, nav i, nav span {
    border: none;
    color: $color_primary;
    background-color: $filler_light;
}

@media all and (max-width: 768px) {
    nav, nav button, nav i, nav span {
        color: $filler_light;
        background-color: $color_primary;
    }
}

// sidebars

// main
