/***************
    body/inline
***************/

html, body {
    background-color: $color_primary;
    font-family: $font_body;
    color: $filler_darkest;
    font-size: 16px;
}

h1, h2, h3, h4, h5, p {
    color: $filler_darkest;
    font-family: $font_body;
}

main a, aside a {
    color: $color_accent;
}

/***************
    nav
***************/

nav {
    color: $color_primary;
    background-color: $filler_light;
    transition: color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
    //
    border: none;
    box-shadow: 0 0 10px $filler_darkest;
    font-size: 18px;
    font-family: $font_stylized;
    font-weight: bold;
    list-style: none;
    box-shadow: 0 0 10px $filler_darkest;
}

.navbar {
    border: none;
}

nav .navbar-nav>li>a {
    background-color: inherit;
    color: inherit;
    list-style-type: none;
}

// bootstrap override
.nav>li>a:hover {
    background-color: transparent;
}

.nav>li {
    transition: border-bottom-width 0.2s ease-in-out;
}

.nav>li:hover, .nav>li:active {
    color: $color_accent;
    border-bottom-color: $color_accent;
    border-bottom-width: 6px;
    border-bottom-style: solid;
}

nav button, nav i, nav span {
    border: none;
    color: inherit;
    background-color: transparent;
}

@media all and (max-width: 768px) {
    nav {
        color: $filler_light;
        background-color: $color_primary;
    }
}

// sidebars

// main

article {
    background-color: $filler_light;
}

// forms

.form h1 {
    font-family: $font_stylized;
    border-bottom: 1px solid $filler_medium;
}

form>label>div>input {
    border: 1px solid $filler_medium;
    background-color: $filler_lightest;
    transition: border-color 0.2s ease-in-out;
}

.login-signup-form {
    background-color: $filler_light;
}

.message h1 {
    border-bottom: $filler_medium 2px inset;
}
