{% extends "message.html" %}
{% block article %}

<img alt="Quirell Logo" src="https://images.indiegogo.com/file_attachments/967076/files/20141028170452-vj6a9r2.jpg?1414541092" style="width:100%;">

# What is Quirell ?

Quirell is a social network currently in development by [queer/trans collective CollectQT](https://twitter.com/collectqt).  We completed an initial funding campaign over the holiday season of 2014, raising $12,000 toward initial development costs to build and code Quirrell. A social network for marginalized communities with Quirrell’s level of customization is as of yet unheard of. We aim to deliver a platform that serves the needs of marginalized micro-communities searching for a place to call their own when mainstream social networks are overrun with hate campaigns, stress, or you simply want to connect with others like you. We want to be a safe place where people can connect, share experiences, and know that they’re free to speak without fear.

## “How will Quirell be different?” Part 1:
## Defining Acceptable Behaviors with the Code of Conduct

It is the case with [other social networks](https://www.facebook.com/legal/terms) that the [code of conduct](https://support.twitter.com/articles/18311) prohibits things such as harassment, impersonation, threats, and spamming. This obviously falls short for many people, particularly marginalized people, when dealing with activities that fall under the radar of what moderation teams filled with more privileged identites consider harassment. 

Quirell, a social network being made by queer people, trans people, and people of color, is working on addressing this with our Code of Conduct, primarily via an application of our politics:

* We recognize that harassment that acts upon systems of oppression is generally much worse than harassment that doesn’t. 

* Misogynist harassment is going to be much more potent than “misandrist” harassment, by virtue of the structural forces backing the activity. 

* Being black and having your posts ‘liked’ by someone wearing a KKK mask comes with enough structural backing behind it to provoke an emotional response similar to harassment even if there is no word exchange taking place. 

These are the concepts on top of which we would be building Quirell’s forthcoming Code of Conduct.

## “How will Quirell be different?” Part 2: 
## Design Direction and Implementation

CollectQT’s goal is for Quirell to be as responsive to general user needs as possible, but every good project needs a design direction! Below is the design direction for Quirell, but for context you might also want to read [this article](https://medium.com/lets-not-pretend-we-have-it-all-figured-out/a-product-manager-s-farewell-4577372a8926) about Twitter’s design, to get a feeling for how we are different.

### The Type of Content we want

The only content we expressly prohibit will be content that breaks or comes close to breaking US laws. Beyond that, it will be up to the people that post content to be aware of what sort of content other users do not wish to view. For example, body mutilation should be tagged “gore” or similar, and people need to make sure to make tags for other sorts of triggers / uncomfortable content such as “racism” / “murder” / “suicide” / etc.

### Networking, Socially

Quirell primarily exists as a platform for helping people build safe consenting relationships. Contrast this with **Twitter** which:

* is built for massive engagement (often with #Brands, or with hordes of bigots)
* is probably the best way to get 100,000 views on an artsy cat picture

And **Facebook**, whose goal of becoming the "canonical" social network leads to situations such as:

* it being fairly likely to replicate toxic meatspace relationships, hence the presence of racist family posts
* it being good for asking your old college roommate if they are still doing music commissions

By contrast, **Quirell** aims to be good at:

* Creating smaller more manageable social spaces
* Giving a lot of control over who and what you do or don’t want to engage with 
* As close as possible to a realistic representation of human relationships, instead of relationships carried out by machines

## FAQ

**Q: When is it going to be up?**

[The original plan](https://gitlab.com/collectqt/quirell/milestones) was to have the first tech demo be up in early January. This proved to be extremely optimistic, and at the current rate of coding, that milestone will probably be hit in **late March / early April**. When we know for sure that we are approaching a first test release, you’ll probably see an announcement about it! But in the meantime, if you are technically inclined (or just curious) you can check the day to day [code commit log](https://gitlab.com/collectqt/quirell/commits/develop).

**Q: How can I help with it?**

It you like scrolling through obscure UIs, then you can go through [the gitlab issues](https://gitlab.com/collectqt/quirell/issues). There also exists an extremely outdated but still potentially useful [guide to the types of things the project needs](http://collectqt.me/quirell-now-what).

{% endblock %}
