- from 'mixins.jade' import form_login

extends base.jade

block head_title
    | Login / Signup | Quirell

block content
    .row
        main.form.login-form.col-sm-6.col-sm-offset-3
            +form_login
