- from 'mixins.jade' import form_login, form_signup

extends base.jade

block head_title
    | Login / Signup | Quirell

block content
    .row
        main.form.login-signup-form.col-sm-10.col-sm-offset-1
            .row
                .col-sm-5
                    +form_login
                .col-sm-5.col-sm-offset-2
                    +form_signup
