{% extends "base.html" %}
    {% block content %}
        <main class='form'><article>
            <h1>Login</h1>
            <div class='login-message'>{% filter markdown %}{{ login_message }}{% endfilter %}</div>
            <form action="/login?next={{ next }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <input type='text' name='username' id='form-login-username' placeholder='username' autofocus='autofocus' required>
                <input type='password' name='password' id='form-login-password' placeholder='password' required>
                <label><input id="form-login-remember_me" name="remember_me" type="checkbox"> Remember Me</label>
                <input type="submit" value="Login" class='submit'>
            </form>
        </article></main>
    {% endblock %}
