{% if not standalone %}{% extends "base.html" %}{% endif %}
{% block content %}
<main class='double-form'>
<article>
    <div class='login-signup-box login'>
        <h2>Login</h2>
        <div class='login-message'>{% filter markdown %}{{ login_message }}{% endfilter %}</div>
        <form action="/login?next={{ next }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type='text' name='username' id='form-login-username' placeholder='username' autofocus='autofocus' required>
            <input type='password' name='password' id='form-login-password' placeholder='password' required>
            <label><input id="form-login-remember_me" name="remember_me" type="checkbox"> Remember Me</label>
            <input type="submit" value="Login" class='submit'>
        </form>
    </div>
    <div class='login-signup-box signup'>
        <h2>Signup</h2>
        <form action="/signup" method="POST" name="signup">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type='text' name='username' id='form-signup-username' placeholder='username' required>
            <input type='password' name='password' id='form-signup-password' placeholder='password' required>
            <input type='password' name='confirm' id='form-signup-confirm' placeholder='confirm password' required>
            <input type='email' name='email' id='form-signup-email' placeholder='email address' required>
            <input type='text' name='secret_password' placeholder='how many kittens?'>
            <input type="submit" value="Sign Up" class='submit'>
        </form>
    </div>
</article>
</main>
{% endblock %}
