{% extends "base.html" %}
    {% block content %}
        <main><article class='post form'>
            <h1>Login</h1>
            <script>
            </script>
            {% autoescape false %}{{ login_message }}{% endautoescape %}
            <form action="/login" method="POST">
                {{ login.hidden_tag() }}
                <p>
                    Enter your username:<br>
                    {{ login.username(size=40) }}<br>
                    Enter your Password:<br>
                    {{ login.password(size=40) }}<br>
                </p>
                <p>{{ login.remember_me }} Remember Me</p>
                <p><input type="submit" value="Sign In"></p>
            </form>
        </article></main>
    {% endblock %}
