{% extends "base.html" %}
    {% block content %}
        <main><article class='post form'>
            <h1>Sign Up</h1>
            <form action="/signup" method="POST" name="signup">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
                    <input type='text' name='username' id='form-signup-username' placeholder='username' required>
                    <input type='password' name='password' id='form-signup-password' placeholder='password' required>
                    <input type='password' name='confirm' id='form-signup-confirm' placeholder='confirm password' required>
                    <input type='email' name='email' id='form-signup-email' placeholder='email address' required>
                    <input type='text' name='secret_password' placeholder='how many kittens?'>
                    <input type="submit" value="Sign Up" class='submit'>
                    <input type="submit" value="Sign Up">
            </form>
        </article></main>
    {% endblock %}
