/* VARIABLES
Variables are defined in 3 stages, to make code easier to change and understand. In most situations, you will only need to change the value of one variable in order to achieve the desired effect throughout the cascade.

  1. 'Literal': a variable whose value is measureable, e.g. color, size.
          e.g. $purple: #554488;
  2. 'General Purpose': a variable defined according to its general purpose in the layout or theme.
          e.g. $primary_color: $purple;
  3. 'Specific Purpose': a variable defined by its specific purpose in targeting elements in the html.
            e.g. $color_bg_sidebar: $primary-color;
*/

/*---------------
      COLORS
-----------------*/

// Literal

$purple: #554488;
$green: #397D02;
$grey_dark: #808080;
$grey_medium: #D0D0D0;
$grey_light: #EFEFEF;
$black: #000000;

// General Purpose

$color_primary: $purple;
$color_accent: $green;

$filler_darkest: $black;
$filler_dark: $grey_dark;
$filler_medium: $grey_medium;
$filler_light: $grey_light;
$filler_lightest: white;

// Specific Purpose

$color_body_text: $filler_darkest;
$color_body_bg: $color_primary;
$color_header_text: $filler_darkest;
$color_link_text: $color_accent;
$color_nav_bg: $filler_light;
$color_nav_box_shadow: $filler_darkest;
$color_nav_foreground: $color_primary;
$color_banner_bg: $filler_light;
$color_banner_right: $filler_medium;
$color_article_bg: $filler_light;
$color_pre_text: $filler_lightest;
$color_pre_bg: $filler_darkest;
$color_code_bg: $filler_medium;
$color_display_name: $filler_darkest;
$color_subtext: $filler_dark;
$color_post_meta_bottom: $filler_dark;



/*---------------
      FONTS
-----------------*/

// Literal

$font_sniglet: 'Sniglet', cursive;
$font_monospaced: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
$font_helvetica: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
$font_quirell: "Quirell", Arial;

// General Purpose



// Specific Purpose

$font_body: $font_sniglet;
$font_quirell_icon: $font_quirell;
$font_pre: $font_monospaced;

