# heroku addons
CLOUDINARY_URL: 'cloudinary://883478141519663:2Kz3FM7dkWSLBX8jhoZT3yLzlU8@hmphuj9x0'
GRAPHENEDB_URL: 'http://app35013235:LbgNTXkDRjszyReI1I2i@app35013235.sb02.stations.graphenedb.com:24789'
REDISTOGO_URL: 'redis://redistogo:8ea00d31068673a75fa7931ff05e27e5@hammerjaw.redistogo.com:10689/'

# mailing
MAIL_USERNAME: ''
MAIL_PASSWORD: ''
MAIL_DEFAULT_SENDER: ''

# application secret
SECRET_KEY: 'XXXXXXXXXXXXUUUUUUUUUUUYYYY123219736129361239162'
